body {
  margin: 0;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.menuitemcontainer .menuitem {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.menuitemcontainer .menuitem.active {
  background-color: #04AA6D;
  color: white;
}

.menuitemcontainer .menuitem:hover:not(.active) {
  background-color: #555;
  color: white;
}

#emaillist {
  list-style-type: none;
}

.emailitem  {
  padding: 15px;
  
}

.emailitem:hover {
  box-shadow: 2px 2px px #888888;
}


#reallink {
  color: blue;
  text-decoration: underline;
}
